@using SYE.ViewModels
@inject Microsoft.Extensions.Options.IOptions<ApplicationSettings> _config
@{
    var config = _config.Value;
}
@{
    Layout = "_Layout";
}
<gds-row>
    <gds-column desktop-size="TwoThirds" tablet-size="FullWidth">
        <gds-heading heading-type="H1" text="You've sent your comments"></gds-heading>
        <gds-paragraph>
            Thank you. We'll use your feedback to help improve the form.
        </gds-paragraph>
        <gds-paragraph>
            <a href="@config.GFCUrls.CQCHomepage" class="govuk-link">Back to the CQC homepage</a>
        </gds-paragraph>
    </gds-column>
</gds-row>
